<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>總覽</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts/accounts-list">
      <ion-icon name="card"></ion-icon>
      <ion-label>資產</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>分析</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>設定</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>