ion-item {
  --padding-start: 0;
  margin-bottom: 16px;
}

ion-input, ion-select {
  --padding-start: 0;
}

ion-note {
  font-size: 18px;
  font-weight: bold;
  min-width: 20px;
  text-align: right;
}