<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accounts" color="medium"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{ getFund()?.name || '基金明細' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editFund()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fund-detail-content">
  <div class="month-selector">
    <ion-button fill="clear" (click)="changeMonth(-1)" >
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    <h2 class="month-title">{{ formatMonthView() }}</h2>
    <ion-button fill="clear" (click)="changeMonth(1)" >
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </div>

  <div class="fund-balance-card">
    <div class="balance-header">
      <p class="balance-label">基金剩餘額度</p>
      <div class="balance-amount">
        <span class="currency-symbol">{{ baseCurrencySymbol }}</span>
        <span [class.text-danger]="getFundBalance() < 0">{{ getFundBalance() | number:'1.0-0' }}</span>
      </div>
    </div>
    <p class="target-amount">總目標: {{ getFund()?.initAmount | number:'1.0-0' }}</p>
    <div class="dashboard-divider"></div>
    <div class="balance-details">
      <div>月頭: {{ groupedData.openBal | number:'1.0-0' }}</div>
      <div>月尾: {{ groupedData.closeBal | number:'1.0-0' }}</div>
    </div>
    <div class="chart-container">
      <apx-chart
        [series]="chartSeries"
        [chart]="chartOptions.chart"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [dataLabels]="chartOptions.dataLabels"
        [markers]="chartOptions.markers"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [grid]="chartOptions.grid"
        [colors]="chartOptions.colors">
      </apx-chart>
    </div>
  </div>

  <div class="transactions-list">
    <div *ngFor="let dayGroup of groupedData.days" class="day-group">
      <h4 class="day-header">{{ formatDate(dayGroup.date) }}</h4>
      <ion-list inset="true" class="modern-account-list">
        <app-transaction-item 
          *ngFor="let transaction of dayGroup.txns" 
          [transaction]="transaction" 
          context="fund"
          [contextId]="fundId"
          (editTransaction)="editTransaction($event)"
          (deleteTransaction)="confirmDelete($event)">
        </app-transaction-item>
      </ion-list>
    </div>
    
    <div *ngIf="groupedData.days.length === 0" class="group-empty-state">
      此月無紀錄
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary" (click)="openAddForm()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>